$fonthead: 'Montserrat', sans-serif;
$fontstack: 'Roboto', sans-serif;
$colordefault: #111;
$colorpink: #FF8CAA;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
    -moz-transition: all $second ease-in-out;
        transition: all $second ease-in-out;
}