/*=================================================================*/
/*                      SLICK SETTINGS
/*=================================================================*/
.slick-slide {
    height: auto;
    outline: none;
}

.slick-next,.slick-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: transparent;
    border: solid 2px #111;
    border-radius: 50%;
    top: calc(50% - 40px);
    z-index: 1;
    @include transition(.2s);
}

.slick-next:hover,.slick-next:focus,.slick-prev:hover,.slick-prev:focus {
    background-color: $colorpink;
    border-color: $colorpink;
    &:before {
        color: #FFF;
    }
}

.slick-prev {
    left: 40px;
}

.slick-next {
    right: 40px;
}

.slick-prev:before {
    color: #111;
    content: '\f27d';
    font-family: 'Ionicons';
    font-size: 24px;
    top: 7px;
    left: 10px;
    position: absolute;
}

.slick-next:before {
    color: #111;
    content: '\f287';
    font-family: 'Ionicons';
    font-size: 24px;
    top: 7px;
    left: 10px;
    position: absolute;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: relative;
}

.slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
}

.slick-dots li:before {
    content: '';
    display: none;
}

.slick-dots li.slick-active {
    width: 8px;
    height: 8px;
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 0;
}

.slick-dots li.slick-active button:before {
    background: $colordefault;
    opacity: 1;
    height: 8px;
    width: 8px;
}

.slick-dots li button:before {
    content: '';
    background: rgba(0,0,0,0.4);
    border-radius: 0;
    height: 8px;
    width: 8px;
}